* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-block: 40px;
}


:root {
  --gap: 1em;
  --columns: 4;
}

ul {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0; /* Added to reset padding */
  display: column;
  columns: var(--columns);
  gap: var(--gap);
  list-style: none;
}

li {
  width: 100%;
  margin-bottom: var(--gap);
  break-inside: avoid; /* Prevents breaking inside the list item */
}

img {
  max-width: 100%;
  max-height: min-content; /* Keeps images within their container's content */
  object-fit: cover; /* Ensures images cover their area */
  border-radius: 10px;
}

@supports (grid-template-rows: masonry) {
  ul {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: masonry; /* Uses the masonry layout */
    grid-auto-flow: dense; /* Fills grid with minimal gaps */
  }

  li {
    margin-bottom: 0; /* Removes bottom margin for grid layout */
  }

  img {
    height: auto; /* Maintains aspect ratio */
  }
}

/* columns */
/* ul {
  max-width: 1400px;
  margin: 20px auto;
  columns: 4;
  column-gap: 20px;
  list-style: none;
}

li {
 width: 100%;
 margin-bottom: 10px;
 break-inside: avoid;
}

img {
  width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

@media (max-width: 1200px) {
  ul {
    width: calc(100% - 40px);
    columns: 3;
  }
}

@media (max-width: 768px) {
  ul {
    columns: 2;
  }
}

@media (max-width: 480px) {
  ul {
    columns: 1;
  }
} */